@model HospitalMS.Models.Admission

@{
    ViewBag.Title = "Edit Page";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Admission</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PatientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*for the TextBox to work as a date picker with initial date, the date format value must match the string format: "{0:yyyy-MM-ddThh:mm}"*@
                @Html.TextBoxFor(model => model.AdmissionDate, "{0:yyyy-MM-ddThh:mm}", htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DischargeDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*for the TextBox to work as a date picker with initial date, the date format value must match the string format: "{0:yyyy-MM-ddThh:mm}"*@
                @Html.TextBoxFor(model => model.DischargeDate, "{0:yyyy-MM-ddThh:mm}", htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.DischargeDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
